:root {
  --fc-daygrid-event-dot-width: 6px;
  --fc-today-bg-color: #b2b2b21c;
  --fc-button-bg-color: #00ceff;
  --fc-button-border-color: #dededeb9;
  --fc-button-hover-bg-color: #b567ad;
  --fc-button-hover-border-color: #b567ad;
  --fc-button-active-bg-color: #b567ad;
  --fc-button-active-border-color: #dedede4e;
}

/*! Calendar */
@media (min-width: 769px) {
  .fc {
    font-size: 1.1rem;
    aspect-ratio: 1.35;
  }
  .fc-header-toolbar {
    font-size: 1.1rem;
  }
}
@media (max-width: 768px) {
  .fc {
    font-size: 0.8rem;
    aspect-ratio: 0.5;
  }
  .fc-header-toolbar {
    font-size: 0.8em;
  }
}

/*! Loader */
.loader {
  background: conic-gradient(
    var(--p2b) 0 25%,
    var(--b2p) 25% 50%,
    var(--p2b) 50% 75%,
    var(--b2p) 75%
  );
  background-size: 200% 200%;
  animation: animateBackground 4.5s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
}
@keyframes animateBackground {
  25% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0 0;
  }
}

/*! Carousel */
.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-spacing-sm: 1.3rem;
  --slide-size-sm: 50%;
  --slide-spacing-lg: 1.5rem;
  --slide-size-lg: calc(100% / 3);
}
.embla__container {
  backface-visibility: hidden;
  margin-left: calc(var(--slide-spacing) * -1);
}
@media (min-width: 640px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }
}
@media (min-width: 1024px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}
@media (min-width: 640px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}
@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}
