@tailwind base;
@tailwind components;
@tailwind utilities;

/*! Fonts */
:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-lobster: 'Lobster', cursive;
}
body {
  font-family: var(--font-poppins);
}
.lobster {
  font-family: var(--font-lobster);
}

/*! Scrollbar */
/* Width */
::-webkit-scrollbar {
  width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00ceff;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00ceff;
}
