@tailwind base;
@tailwind components;
@tailwind utilities;



/* --- */
/* App */
/* --- */

html, body {
  margin: 0;
  font-family: var(--font-poppins);
  font: 1rem var(--font-poppins);
}

h1 {
  font-family: var(--font-lobster);
  font: 5rem var(--font-lobster);
}
h2 {
  font-family: var(--font-poppins);
  font: 4rem var(--font-poppins);
}
h3 {
  font-family: var(--font-lobster);
  font: 3rem var(--font-lobster);
}
h4 {
  font-family: var(--font-poppins);
  font: 2rem var(--font-poppins);
}
h5 {
  font-family: var(--font-lobster);
  font: 1rem var(--font-lobster);
}
p {
  font-family: var(--font-poppins);
  font: 1rem var(--font-poppins);
}
main {
  flex: auto;
  justify-content: center;
  min-height: calc(100vh - 4rem);
  width: 100%;
  overflow-x: hidden;
  padding: 0 !important;
}


/* --------- */
/* Scrollbar */
/* --------- */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #555;
}
/* Chrome & Others */
::-webkit-scrollbar {
  width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ------------ */
/* Loading Dots */
/* ------------ */

.loader {
  opacity: 90%;
  border: 16px dotted rgb(242, 97, 255);
  border-top: 16px dotted #3498db;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  animation: spin 2s linear infinite;
  margin: auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
